doctype html
html
	title Kloak Platform
	meta( charset = 'utf-8' )
	meta( name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale = 1, user-scalable = no")
	meta( name="author" content="Kloak Information Technologies Inc.|Kloak IT 株式会社|Kloak信息技術有限公司")
	meta( name="msapplication-TileColor" content="#ffffff")
	meta( name="msapplication-TileImage" content="/images/128.png")
	meta( name="theme-color" content="#ffffff")
	link( rel="apple-touch-icon" sizes="16x16" href="/images/16.png")
	link( rel="apple-touch-icon" sizes="32x32" href="/images/32.png")
	link( rel="apple-touch-icon" sizes="64x64" href="/images/64.png")
	link( rel="apple-touch-icon" sizes="128x128" href="/images/128.png")
	link( rel="apple-touch-icon" sizes="256x256" href="/images/256.png")
	link( rel="apple-touch-icon" sizes="512x512" href="/images/512.png")
	link( rel="icon" type="image/png" sizes="32x32" href="/images/32.png")
	link( rel="icon" type="image/png" sizes="16x16" href="/images/16.png")
	link( rel = "stylesheet", href = "/css/errorPage.css")

	body#body.bodyCoNETBlue
		#main-frame-error.interstitial-wrapper
			#main-content

				img( src = "/images/Information.png" style = "width: 5em;")
				#main-message
					h2 Browser not supported
					h2 ブラウザが対応していません
					h2 默認瀏覽器不對應
				p.error-information-popup-container FireFox or Google Chrome to access.
				p.error-information-popup-container FireFox または Google Chromeを使ってください
				p.error-information-popup-container 請使用火狐或谷歌瀏覽器

				a( href="https://www.mozilla.org/en-CA/firefox/new/" )
					img( src="/images/1200px-Firefox_logo,_2019.svg.png" style = "width: 7em;")
				a( style = "margin: 2em;" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwiJ8pq36YLpAhWDwGQKHelrBoQYABABGgJwag&ohost=www.google.com&cid=CAESQOD24IUzXwgE5k4PIcyZyECew1dJW-4d5OSojIL6csThUsvq8lFhG7_EYYMn_f_gDZ0BxHYvouJ3IyCf1tEnirI&sig=AOD64_0LoYIYlexbWre-LpBsmeXiQ3B-xQ&adurl=&q=&ved=2ahUKEwjmwpO36YLpAhUVOn0KHUp2AGUQqyQoAHoECCMQBw" )
					img( src="/images/1200px-Google_Chrome_icon_(September_2014).svg.png" style = "width: 6em;")