head
	title Kloak Platform
	meta(charset = 'utf-8' )
	meta(name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale = 1, user-scalable = no")
	meta(name="author" content="Kloak Information Technologies Inc.|Kloak IT 株式会社|Kloak信息技術有限公司")
	meta(name="msapplication-TileColor" content="#ffffff")
	meta(name="msapplication-TileImage" content="/images/128.png")
	meta(name="theme-color" content="#ffffff")
	link(rel="apple-touch-icon" sizes="16x16" href="/images/16.png")
	link(rel="apple-touch-icon" sizes="32x32" href="/images/32.png")
	link(rel="apple-touch-icon" sizes="64x64" href="/images/64.png")
	link(rel="apple-touch-icon" sizes="128x128" href="/images/128.png")
	link(rel="apple-touch-icon" sizes="256x256" href="/images/256.png")
	link(rel="apple-touch-icon" sizes="512x512" href="/images/512.png")
	link(rel="icon" type="image/png" sizes="32x32" href="/images/32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/images/16.png")
	link(rel = "stylesheet", href = "/css/semantic.min.css")
	link(rel = "stylesheet", href = "/css/animate.min.css")
	link(rel = "stylesheet", href = "/css/page.css")